/.vscode

game/*
!game/gamecode
game/gamecode/*

!game/gamecode/characterCore
game/gamecode/characterCore/*
!game/gamecode/characterCore/monster.rpy
!game/gamecode/characterCore/player.rpy
!game/gamecode/characterCore/statFloorAndCaps.rpy
!game/gamecode/characterCore/stats.rpy

!game/gamecode/combatAPIMod

!game/gamecode/combatcode

!game/gamecode/dialogueSys
game/gamecode/dialogueSys/*
!game/gamecode/dialogueSys/dialogueSystemChange.rpy
!game/gamecode/dialogueSys/dialogueSystemCore.rpy
!game/gamecode/dialogueSys/dialogueSystemMisc.rpy
!game/gamecode/dialogueSys/dialogueSystemPlayEnd.rpy
!game/gamecode/dialogueSys/dialogueSystemSpeakClear.rpy

!game/gamecode/functions
game/gamecode/functions/*
!game/gamecode/functions/functions.rpy

!game/gamecode/jsonProcessing
game/gamecode/jsonProcessing/*
!game/gamecode/jsonProcessing/loadDatabase.rpy

!game/gamecode/screens
game/gamecode/screens/*
!game/gamecode/screens/game_menu_screens.rpy
!game/gamecode/screens/on_characterCreator.rpy
!game/gamecode/screens/on_charactermenu.rpy

!game/gui
game/gui/*
!game/gui/CombatAPIMod

!game/Json
game/Json/*
!game/Json/Perks
game/Json/Perks/*
!game/Json/Perks/_LevelUpModPerkOrder.json

!game/options.rpy
!game/script.rpy

/lib
/Mods
/renpy

.markdownlint.json
/How-To-Install-Mods.txt
/ModdingDocs.zip
MonGirlDreams.exe
MonGirlDreams.py
MonGirlDreams.sh

/errors.txt
/log.txt
/traceback.txt
/TODO.xit

*.rpyc 
*.rpyb 
*.rpymc 
*.pyc 
*.pyo
CHANGELOG.md
README.md
game/options.rpy
game/script.rpy
game/gamecode/characterCore/monster.rpy
game/gamecode/characterCore/player.rpy
game/gamecode/characterCore/statFloorAndCaps.rpy
game/gamecode/characterCore/stats.rpy
game/gamecode/combatAPIMod/combatAPI_UI.rpy
game/gamecode/combatAPIMod/combatAPIMod_ren.py
game/gamecode/combatAPIMod/sources/renpy/__init__.pyi
game/gamecode/combatAPIMod/sources/renpy/store.pyi
game/gamecode/combatcode/combat.rpy
game/gamecode/combatcode/combatFunctions.rpy
game/gamecode/combatcode/on_combatMenu.rpy
game/gamecode/combatcode/on_enemyCardScreen.rpy
game/gamecode/dialogueSys/dialogueSystemChange.rpy
game/gamecode/dialogueSys/dialogueSystemCore.rpy
game/gamecode/dialogueSys/dialogueSystemMisc.rpy
game/gamecode/dialogueSys/dialogueSystemPlayEnd.rpy
game/gamecode/dialogueSys/dialogueSystemSpeakClear.rpy
game/gamecode/functions/functions.rpy
game/gamecode/jsonProcessing/loadDatabase.rpy
game/gamecode/screens/game_menu_screens.rpy
game/gamecode/screens/on_characterCreator.rpy
game/gamecode/screens/on_charactermenu.rpy
game/gui/CombatAPIMod/SpiritFillMod_x2.png
game/gui/CombatAPIMod/SpiritFillMod_x2Buffer.png
game/Json/Perks/_LevelUpModPerkOrder.json
